@use 'variables';

.footer {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: variables.$Harley;
    font-size: 8vh;
    border-top: 4px solid purple;

    @media (max-width: 640px) {
        font-size: 4vh;
    }
}
